name: Release

on:
  push:
    tags:
      - "**"

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Generate self-contained package
        run: |
          git archive --format=tar --prefix=wp-performance-tweaks/ HEAD | (cd /var/tmp/ && tar xf -)
          cp composer.lock /var/tmp/wp-performance-tweaks/
          (cd /var/tmp/wp-performance-tweaks && composer install --no-dev --no-interaction && composer remove --update-no-dev --no-interaction composer/installers && rm -f composer.lock)
          (cd /var/tmp && zip -r -9 wp-performance-tweaks.zip wp-performance-tweaks)

      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          generate_release_notes: true
          files: |
            /var/tmp/wp-performance-tweaks.zip
