name: Release

on:
  push:
    tags:
      - "**"

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Generate self-contained package
        run: |
          git archive --format=tar --prefix=wp-performance-tweaks/ HEAD | (cd /var/tmp/ && tar xf -)
          cp composer.lock /var/tmp/wp-performance-tweaks/
          (cd /var/tmp/wp-performance-tweaks && composer install --no-dev --no-interaction && composer remove --update-no-dev --no-interaction composer/installers && rm -f composer.lock)
          (cd /var/tmp && zip -r -9 wp-performance-tweaks.zip wp-performance-tweaks)

      - name: Release
        uses: softprops/action-gh-release@72f2c25fcb47643c292f7107632f7a47c1df5cd8 # v2.3.2
        with:
          generate_release_notes: true
          files: |
            /var/tmp/wp-performance-tweaks.zip
